html, body {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.logs {
	flex: 100;
	overflow: hidden;
	vertical-align: bottom;
}

#log-container {
	flex: 1;
	height: 90%;
	align-content: flex-end;
	color: white;
}

#input-container {
	height: 10%;
	width: 100%;
}

p {
	color: white;
}

.temp-chat-div {
	color: white;
}